<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <h2>About Me</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul role="list" class="info">
                <li role="listitem">
                    <span class="first-block">Full Name:</span><span class="second-block">Joseph James Smyth</span>
                </li>
                <li role="listitem">
                    <span class="first-block">Location:</span><span class="second-block">Randalstown, N.Ireland</span>
                </li>
                <li role="listitem">
                    <span class="first-block">Email:</span><span class="second-block"><a target="_blank" href="mailto:joe@jjsmyth.net?subject=Website enquiry">joe@jjsmyth.net</a></span>
                </li>
                <li role="listitem">
                    <span class="first-block">LinkedIn:</span><span class="second-block"><a target="_blank" href="https://www.linkedin.com/in/joseph-james-smyth-bb509a207/">joseph-james-smyth-bb509a207</a></span>
                </li>
                <li>
                    <span class="first-block">GitHub:</span><span class="second-block"><a target="_blank" href="https://github.com/jjsmyth1984">jjsmyth1984</a></span>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <h2>Hello There!</h2>
            <p>I am a technically minded, solutions-driven Full Stack Engineer with a robust background
                in developing scalable web applications and managing full project lifecycles.</p>
            <p>Over my career, I've garnered extensive experience in designing and optimising MySQL databases,
                implementing comprehensive testing strategies with PHPUnit and creating robust RESTful APIs.</p>
            <p>My expertise lies in leveraging the Symfony framework to build maintainable and
                high-performing web applications, with a keen focus on API design, data security, and user-centered design integration. I have a proven track record of leading cross-functional teams, mentoring new engineers and driving projects to timely and budget-conscious completion.</p>
            <p>Throughout my professional journey, I have demonstrated my ability to develop complex financial algorithms and maintain compliance with industry standards. I thrive on solving intricate technical challenges and am passionate about enhancing application performance and user satisfaction.</p>
            <h3>Work Philosophy</h3>
            <p>I am passionate about writing clean, maintainable code that delivers robust solutions for users.
                My approach to software development is grounded in the four pillars of Object-Oriented
                Programming (OOP) and the five design principles known as SOLID.</p>
            <ul role="list" class="body-list">
                <li><u>Polymorphism</u> using inheritance, a child method can then override the parent
                    method to
                    provide their own implementation.
                </li>
                <li><u>Inheritance</u> Inheriting properties and methods from a parent class promoting code
                    reuse.
                </li>
                <li><u>Encapsulation</u> prevents direct access to class data from outside the class using
                    private properties and promotes data hiding. Need to then use Getters and Setters to get
                    and
                    set the data in a controlled form.
                </li>
                <li><u>Abstraction</u> Abstract classes cannot be instantiated directly but serves as a
                    blueprint for other classes. It provides a way to define common properties and methods
                    that
                    can be inherited by its subclasses, which are regular classes that extend the abstract
                    class.
                </li>
            </ul>
            <p>
                To aid the 4 pillars, I also follow Robert C. Martin's 5 principles of Object-Oriented
                Design.
            </p>
            <ul role="list" class="body-list">
                <li><u>Single-responsibility Principle</u> this principle states that a class or method
                    should
                    have only one responsibility thus one reason to change.
                </li>
                <li><u>Open-closed Principle</u> to design classes to be open to extension but closed to
                    modification.
                </li>
                <li><u>Liskov Substitution Principle</u> to ensure that subclasses can be used
                    interchangeably
                    with their parent classes (using inheritance and polymorphism).
                </li>
                <li><u>Interface Segregation Principle</u> to create specific and small interfaces to
                    prevent
                    forcing classes to implement unused methods.
                </li>
                <li><u>Dependency Inversion Principle</u> a high level class should not depend on a lower
                    level
                    class both should depend on abstractions (using abstract classes or interfaces).
                </li>
            </ul>
            <p>Dependency Injection plays a significant role in my development process as it leads to
                decoupling
                components for better testability and maintainability.
            </p>
            <p>I also apply the KISS i.e. 'Keep It Simple Silly' and DRY i.e. 'Don't Repeat Yourself' methodologies to avoid complexity and redundancy, keeping the codebase efficient and clean.
            </p>
            <p>I strictly follow PSR coding standards, ensuring consistency, interoperability and best
                practices
                in my projects.</p>
            <p>Additionally, I emphasise Test-Driven Development (TDD) inline with Domain-Driven Design
                (DDD),
                focusing on translating real-world concepts into software solutions.</p>
            <p>Security and performance are top priorities in my work, with a focus on caching, Symfony
                Messenger along with RabbitMQ for asynchronous messaging.</p>
            <p>I implement strong authentication using OAuth2 and JWT, ensuring data security across all
                APIs
                along with adhering to OWASP guidelines.</p>
        </div>
    </div>
</div>