<div class="overlay"></div>
<div class="container">
    <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <h2>Hire Me!</h2>
            <p>If you need any advice or want to collaborate on work, please feel free to reach out at any time.</p>
            <p><a href="#contact-us-section" class="btn btn-default btn-lg">Contact Me!</a></p>
        </div>
    </div>
</div>