<div class="container">
    <div class="services-padding">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Areas of expertise</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="feature-left">
							<span class="icon">
								<i class="icon-bargraph"></i>
							</span>
                    <div class="feature-copy">
                        <h3>Software Development</h3>
                        <p>As a full stack engineer I have experience with frontend, backend and server setup and management.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="feature-left">
							<span class="icon">
								<i class="icon-search"></i>
							</span>
                    <div class="feature-copy">
                        <h3>PHP</h3>
                        <p>I have 15+ years experience working with the PHP language, I have worked through
                            PHP5
                            through to PHP8.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="feature-left">
							<span class="icon">
								<i class="icon-briefcase"></i>
							</span>
                    <div class="feature-copy">
                        <h3>Symfony Framework</h3>
                        <p>I have 10+ commercial years working with the Symfony framework and it's where my passion lays.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="feature-left">
							<span class="icon">
								<i class="icon-paintbrush"></i>
							</span>
                    <div class="feature-copy">
                        <h3>MYSQL and MSSQL</h3>
                        <p>My two main areas of expertise in database development and management but also
                            have experience using MariaDB, PostgreSQL and MongoDB.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="feature-left">
							<span class="icon">
								<i class="icon-chat"></i>
							</span>
                    <div class="feature-copy">
                        <h3>Test Driven Development</h3>
                        <p>In TDD, you first write a test for a new feature to fail, then write the minimal
                            amount of code needed to pass that test, and finally refactor the code (from
                            minimal
                            to efficient) to meet the necessary standards.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="feature-left">
							<span class="icon">
								<i class="icon-genius"></i>
							</span>
                    <div class="feature-copy">
                        <h3>Content Management Systems (CMS)</h3>
                        <p>Drupal, WordPress and Prestashop etc.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>