{% extends 'base.html.twig' %}

{% block title %}Edit WorkExperience{% endblock %}

{% block body %}
    <h1>Edit WorkExperience</h1>

    {{ include('work_experience/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_work_experience_index') }}">back to list</a>

    {{ include('work_experience/_delete_form.html.twig') }}
{% endblock %}
