{% extends 'base.html.twig' %}

{% block title %}New WorkExperience{% endblock %}

{% block body %}
    <h1>Create new WorkExperience</h1>

    {{ include('work_experience/_form.html.twig') }}

    <a href="{{ path('app_work_experience_index') }}">back to list</a>
{% endblock %}
