{% extends 'base.html.twig' %}
{% block title %}Joseph James Smyth Portfolio and Resume{% endblock %}
{% block body %}
    <div id="fh5co-loader"></div>
    <div id="page">
        <header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image:url({{ asset('images/cover_bg_3.jpg') }});" data-stellar-background-ratio="0.5">
            {% include '/homepage/panels/header.html.twig' %}
        </header>
        <div id="fh5co-about" class="animate-box">
            {% include '/homepage/panels/about.html.twig' %}
        </div>
        <div id="fh5co-resume" class="fh5co-bg-color">
            {% include '/homepage/panels/resume.html.twig' %}
        </div>
        <div id="fh5co-features" class="animate-box">
            {% include '/homepage/panels/features.html.twig' %}
        </div>
        <div id="fh5co-skills" class="animate-box">
            {% include '/homepage/panels/skills.html.twig' %}
        </div>
        <div id="fh5co-started" class="fh5co-bg-dark">
            {% include '/homepage/panels/details.html.twig' %}
        </div>
        <div id="fh5co-consult">
            <div class="video fh5co-video" style="background-image: url({{ asset('images/cover_bg_1.jpg') }});">
                <div class="overlay"></div>
            </div>
            <div class="choose animate-box">
                <h2 id="contact-us-section">Contact</h2>
                {% include 'contact_us/index.html.twig' %}
            </div>
        </div>
        <!-- Add GoogleMAP -->
    </div>
    <div id="fh5co-footer">
        {% include '/homepage/panels/footer.html.twig' %}
    </div>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/project/homepage/index.css') }}">
{% endblock %}
{% block importmap %}
    {{ importmap(['app_homepage', 'app_contact_us']) }}
{% endblock %}