{% extends 'base.html.twig' %}

{% block title %}New Expertise{% endblock %}

{% block body %}
    <h1>Create new Expertise</h1>

    {{ include('expertise/_form.html.twig') }}

    <a href="{{ path('app_expertise_index') }}">back to list</a>
{% endblock %}
